.list-p-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: left;
    flex-wrap: wrap;
   
}
.product-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c7ddcc;
}

.products-alignment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.products-head{
    color:  #16123f;
    border: 5px solid #ffe26a;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-transform: capitalize;
}


@media only screen and (max-width:768px)  {
    .list-p-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}

@media only screen and (max-width:375px)  {
    .list-p-container {
       padding: 0;
    }
}