
.home-container{
    /* position: absolute; */
    left: 0;
    width: 100%;
    height: 90vh;
    animation: animate 12s step-start infinite;
    background-size: cover;
    margin: auto;
}

.image-container{
    /* position: absolute; */
    left: 0;
    background-size: cover;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-heading{
    color: white;
    font-size: 26px;
    font-weight: 500;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.heading{
    color: white;
    font-weight: 500;
    font-size: 52px;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.main{
    color: white;
    font-size: 32px;
    border: 3px solid white;
    padding: 10px;

    
}
@keyframes animate{
    0%, 100%{
        background-image: url("https://img.freepik.com/premium-photo/assortment-fresh-vegetables-capsicum-shimla-mirchi-lemon-spicy-green-chilly-coriander-sell-indian-market_14349-171.jpg?w=1060");
    }
    25%{
        background-image: url("https://img.freepik.com/free-photo/dried-chili-pepper-small-sack-bag_1150-35717.jpg?w=900&t=st=1668509904~exp=1668510504~hmac=adff93d2b54122c39d364f3b43ca77cd92839ab1612f66a90c7d19716d3e4abf");
    }
    50%{
        background-image: url("https://img.freepik.com/free-photo/paddy-hands-men-with-paddy_1150-17231.jpg?w=900&t=st=1668510050~exp=1668510650~hmac=ed8eccd989fe5d01b54e5aba828668d5f465b160e753fa4f9b2bc18795d51ae9");
    }
    75%{
        background-image: url("https://img.freepik.com/premium-photo/rice-field-is-waiting-harvest_174431-187.jpg?w=900");
    }

}


.aim-main-container {
    background-color: #c7ddcc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.para-footer {
    letter-spacing: 1px;
    word-spacing: 5px;
}

.aim-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 90%;
}


.aim-para1{
    padding-right: 20px;
}

.image1{
    width: 400px;
    margin-left: 10px;
}
.image2{
    width: 400px;
    margin-right: 30px;
}
.aim-container-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5%;
    width: 90%;

}

.para {
  font-size: 22px;
  font-weight: normal;
  word-spacing: 3px;
  letter-spacing: 0.5px;
  color: #16123f;
}

.head {
  word-spacing: 1px;
  letter-spacing: 1px;
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  color: #16123f;
  background-color: #ffe26a;
  padding:10px;
  margin-bottom: 30px;
}



@media only screen and (max-width: 768px) {
    .aim-container, .aim-container-2 {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .aim-main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;

    }

    .aim-para1 {
        margin: 0px;
        width: 100%;
        height: 50%;

    }
    .m-ac {
       display: flex;
       flex-direction: column-reverse;
    }
    .main-heading{
        color: white;
        font-size: 18px;
        font-weight: 400;
        word-spacing: 3px;
        letter-spacing: 0px;
    }
    .heading{
        font-size: 38px;
        word-spacing: 1px;
    }
    .main{
        font-size: 24px;
        padding: 8px;
    }
    .head {
        word-spacing: 1px;
        font-size: 16px;
    }
    .para {
        font-size: 14px;
        font-weight: normal;
        word-spacing: 3px;
        letter-spacing: 0.5px;
        font-family: Helvetica;
        color: #16123f;
    }
    .image1{
        width: 250px;
        margin-top: 10px;
        margin-left: 0;
    }

    .image2{
        width: 250px;
        margin-top: 10px;
        margin-right: 0;
    }

}